@import '_variables.scss';
@import '_mixins.scss';


.excel__formula {
    position: absolute;
    top: $header-height + $toolbar-height;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: $formula-height;
    border-bottom: 1px solid $border-color;

    & .info {
        font-size: 18px;
        font-style: italic;
        text-align: center;
        border-right: 1px solid $border-color;
        min-width: $info-cell-width;
    }

    & .input {
        flex-grow: 1;
        padding: 4px;
        font-size: 12px;
        outline: none;
        color: #000;
    }
}