@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
@import '~normalize.css';

@import 'header.scss';
@import 'toolbar.scss';
@import 'formula.scss';
@import 'table.scss';
@import 'dashboard.scss';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;
    max-width: 100%;
    height: 100vh;
    color: #888;
    font-size: .8rem;
}

.button {
    user-select: none;
}