@import '_variables.scss';
@import '_mixins.scss';


.excel__table {
    position: absolute;
    top: $header-height + $toolbar-height + $formula-height;
    left: 0;
    right: 0;
    overflow-x: auto;
    padding-bottom: 2px;

    .row {
        position: relative;
        display: flex;
        min-height: 20px;
        height: $row-height;
    }

    .row-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background: #f8f9fa;
        border-top: none;
        user-select: none;
    }

    .row-data {
        display: flex;
    }

    .column {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f9fa;
        min-width: 40px;
        width: $cell-width;
        height: 100%;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        user-select: none;
    }

    .col-resize, .row-resize {
        position: absolute;
        right: 0;
        bottom: 0;
        background: $primary-color;
        opacity: 0;
        z-index: 1000;

        &:hover {
            opacity: 1!important;
        }
    }

    .col-resize {
        top: 0;
        width: 4px;
        cursor: col-resize;
    }

    .row-resize {
        left: 0;
        height: 4px;
        cursor: row-resize;
    }

    .cell {
        padding: 5px;
        min-width: 40px;
        width: $cell-width;
        height: 100%;
        border-right: 1px solid #e2e3e3;
        border-bottom: 1px solid #e2e3e3;
        outline: none;
        white-space: nowrap;
        color: #111;
    }

    .selected {
        border: none;
        outline: 2px solid $primary-color;
        z-index: 2;
    }
}