@import '_variables.scss';
@import '_mixins.scss';


.excel__toolbar {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    display: flex;
    padding: 7px 10px;
    height: $toolbar-height;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    & .button {
        @include button(green);
    }
}